    div.em1 {
    padding-left: 20px;
    }
    
    button.a {
      font-size: 30px;
      border: none;
      background-color: transparent;
    }

    div.space {
      margin-top: 30px;
    }
    

    .plum-box {
      position: relative;
      background-color: #FAD9D9;
      margin: auto;
      height: 130px;
      width: 500px;
      text-align: center;
    
    }
    .black-box {
      margin: auto;
      position: relative;
      background-color: black;
      height: 50px;
      width: 250px;
      margin-top: 10px;
      text-align: center;
    
    }
    
    .duvet {
      width: 1000px;
      height: 562px;
      margin: 0% auto;
      margin-bottom: 20px;
    }

    iframe {
      display: block;
    }
    
    .imahe {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gridders {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      justify-content: center;
      background-color: #FAD9D9;
    }

    .black-grid {
      background-color: black;
      width: 500px;
      height: 500px;
    }
    
    .pink-grid {
      background-color: #FAD9D9;
      width: 500px;
      height: 500px;
    }

    .buts {
      display: flex;
      align-items: center;
    }

    .footlong {
      width: auto;
      height: 320px;
    }

    img.footlong {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    
    .footerie {
      background-color: #FAD9D9;
      text-align: end;
      align-items: center;
      width: auto;
      height: 120px;
      padding-right: 50px;
    }

      .bgimg {
        background-image: url(images/bg.jpg);
        height: 100%;
        width: 100%;
      }