    div.em1 {
    padding-left: 20px;
    }
    
    button.a {
      font-size: 30px;
      border: none;
      background-color: transparent;
    }

    div.space {
      margin-top: 30px;
    }
    
    .plum-box {
      position: relative;
      background-color: #FAD9D9;
      margin: auto;
      height: 130px;
      width: 500px;
      text-align: center;
    
    }
    .black-box {
      margin: auto;
      position: relative;
      background-color: black;
      height: 50px;
      width: 250px;
      margin-top: 10px;
      text-align: center;
    
    }
    
    .duvet {
      width: 1000px;
      height: 562px;
      margin: 0% auto;
      margin-bottom: 20px;
    }

    iframe {
      display: block;
    }
    
    .imahe {
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
    }

    .gridders {
      display: grid;
      grid-template-columns: repeat(2, 500px);
      justify-content: center;
      background-color: #FAD9D9;
    }

    .black-grid {
      background-color: black;
      width: 500px;
      height: 500px;
    }
    
    .pink-grid {
      background-color: #FAD9D9;
      width: 500px;
      height: 500px;
    }

    .buts {
      display: flex;
      align-items: center;
    }

    .footlong {
      width: auto;
      height: 320px;
    }

    img.footlong {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    
    .footerie {
      background-color: #FAD9D9;
      text-align: end;
      align-items: center;
      width: auto;
      height: 7.5rem;
      padding-right: 3.125rem;
    }

      .bgimg {
        background-image: url(images/bg.jpg);
        height: 100%;
        width: 100%;
      }

      img.sparkle-leftgrid {
        float: right;
        margin-right: -4rem;
        width: 207px;
        height: 190px;
        position: relative;
      }

      img.sparkle-rightgrid {
        float: left;
        margin-left: -4rem;
        width: 207px;
        height: 190px;
        position: relative;
      }
/* for font faces */

@font-face {
  font-family: TanMonCheri ;
  src: url(/theodinproject/fonts/tan-mon-cheri.woff2);
}

@font-face {
  font-family: Avenir;
  src: url(/theodinproject/fonts/AvenirLTStd-Heavy.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url(/theodinproject/fonts/AvenirLTStd-HeavyOblique.otf);
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: Avenir;
  src: url(/theodinproject/fonts/AvenirLTStd-Light.otf);
  font-style: normal;
  font-weight: light;
}

@font-face {
  font-family: Avenir;
  src: url(/theodinproject/fonts/AvenirLTStd-LightOblique.otf);
  font-style: oblique;
  font-weight: light;
}

@font-face {
  font-family: Avenir;
  src: url(/theodinproject/fonts/AvenirLTStd-Medium.otf);
  font-style: normal;
  font-weight: medium;
}

@font-face {
  font-family: Avenir;
  src: url(/theodinproject/fonts/AvenirLTStd-MediumOblique.otf);
  font-style: oblique;
  font-weight: medium;
}

@font-face {
  font-family: Avenir;
  src: url(/theodinproject/fonts/AvenirLTStd-Oblique.otf);
  font-style: oblique;
  font-weight: normal;
}

@font-face {
  font-family: Avenir;
  src: url(/theodinproject/fonts/AvenirLTStd-Roman.otf);
  font-style: normal;
  font-weight: normal;
}


/* font sizes */
 * {
  font-family: Avenir;
 }




 h2 {
  font-size: 1.875rem;
 }

 h3 {
  font-size: 1.5rem;
 }

 h4 {
  font-size: 1.25rem;
 }

 h5 {
  font-size: 1.00rem;
 }

